.text-style{
    font-size: 30px;
    font-family: Georgia, 'Times New Roman', Times, serif;
    margin: 2vh;
    text-align: center;
  }
.login-form {
  min-width: 450px;
  margin-left: 35%;
  margin-right: 35%;
}

